<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.softvillage.mailer_test">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWMailerTest">

        <service
            android:name=".service.EvoReceiptAdderService"
            android:enabled="true"
            android:exported="true"/>
        <!-- android:theme="@style/Theme.SWMailerTest" -->
        <meta-data
            android:name="app_uuid"
            android:value="3d87a1c7-ac95-4ff1-aabb-091c9e2d5833" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SWMailerTest.Launcher">
            <meta-data
                android:name="ru.evotor.launcher.BACKGROUND_COLOR"
                android:value="#FF5722" />

            <intent-filter android:priority="20">
                <action android:name="android.intent.action.MAIN" />
                <!-- Указывает на расоположение инконки на рабочем столе для android устройств (не эвотор) -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


                <!-- Указывает, что иконка приложения будет отображаться на главном экране смарт-терминала. -->
                <category android:name="android.intent.category.EVOTOR" />

                <!-- Подписывает службу на событие DiscountScreenAdditionalItemsEvent и указывает смарт-терминалу отображать иконку приложения на экране оплаты чека продажи. -->
                <action android:name="ru.evotor.event.payback.DISCOUNT_SCREEN_ADDITIONAL_ITEMS" />
            </intent-filter>
        </activity>
    </application>

</manifest>